/*styles for etch-a-sketch*/
* {
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
}
.container {
    display: flex;

}
button{
   height: 50px;
   padding: 5px;
   border-radius: 10%;
}
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    margin-left: auto;
    margin-right: 5px;
    
}
.sketchPad {
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    width: 960px;
    height: 960px;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}
.row {
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    align-items: stretch;
    align-items: center;
    justify-content: center;
    width: 960px;
}
.tile {
    flex-shrink: 1;
    flex-grow: 1;
    width: 25px;
    min-height: 100%;
}
.hover {
    background-color: aquamarine;
}
